@import "tailwindcss";

@theme {
  --color-midea-blue: #003b6d;
  --color-midea-light-blue: #0092d0;
}

body {
  @apply bg-gray-50 text-slate-900;
  font-family: 'Pyidaungsu', 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.leaflet-container {
  height: 400px;
  width: 100%;
  border-radius: 0.75rem;
  z-index: 0;
}
